<div class="form-group">
    <ul class="{{ className }}"
        data-index="{{ formProp|length > 0 ? formProp|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(formProp.vars.prototype)|e('html_attr') }}"></ul>
    <button type="button" class="btn btn-sm btn-outline-warning add_item_link" data-collection-holder-class="{{ className }}">{{ label }}</button>
</div>